@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: 8px;
    height: 50px;
    width: 50px;
   border-radius: 8px;
   text-align: center;
   border: 3px solid #78C1F3;
   background-color: #F8FDCF;

}
.input{
    width: 250px;
    height: 30px;
    border: 3px solid #78C1F3;
    background-color: #F8FDCF;
    border-radius: 4px;
}